<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>

  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="taskTitle">Tile</label>
      <input type="text" name="tasktitle" [(ngModel)]="taskModel.title" class="form-control" id="taskTitle" placeholder="Title of your task....">
    </div>
    <div class="form-group">
      <label for="taskDescription">Desciption</label>
      <textarea type="text" name="taskDescription" [(ngModel)]="taskModel.text" class="form-control" id="taskDescription" placeholder="Describe about your task...."></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" [hidden]="!createMode" class="btn btn-success" (click)="create()">Create</button>
  <button type="button" [hidden]="createMode" class="btn btn-success" (click)="update()">Edit</button>
</div>


